<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">uWu cx</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true }">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"routerLinkActive = "active">
        <a class="nav-link" routerLink="recommendation">Recommendations</a>
      </li>  </ul>
    <ul class="nav navbar-nav navbar-right">
  <!-- <li class="nav-item"routerLinkActive = "active">
    <a class="nav-link" routerLink="login">Login</a>
  </li>
  <li class="nav-item"routerLinkActive = "active">
    <a class="nav-link" routerLink="signup">Sign Up</a>
  </li> -->

    </ul>
  </div>
</nav>
  

