<h1>Popular Anime</h1>



  <div class="row" >
    <div class="col-sm-5" *ngFor = "let anime of  animeList">
        <div class="card my-3 text-white bg-dark mb-3" >
            <img src={{anime.ImageUrl}} class="card-img-top" >
            <div class="card-body">
              <h3 class="card-title">{{anime.Name}}</h3>
              <p  [ngClass]="{'limitTextHeight': isReadMore}" class="card-text">{{anime.Description}}</p>
              <button type="button" (click)="showText()">
                {{ isReadMore ? 'Read More': 'Read Less' }}
              </button>
              <a href={{anime.CrunchyRollUrl}} class="btn btn-primary">Watch Now! cx</a>
            </div>
          </div>
    </div>
</div>